<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si la petición es para un archivo o directorio que existe, sírvelo directamente.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # De lo contrario, redirige la petición a index.php
    RewriteRule . index.php [L]
</IfModule>

# Pasar el header de autorización a PHP usando SetEnvIf
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
